@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Poppins&display=swap');
body
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	font-family: 'Lato' sans-serif;

	overflow: scroll;

}


.navbar
{
	text-transform: uppercase;
	
	font-size: 14 px;
	font-weight: 700;
	letter-spacing: 0.2rem;
	background: rgba(1,1,1,1) !important;
	padding: 20 px 0;
	margin: 0;
	position: fixed;
	align-items: center;

}


.navbar-dark .navbar-nav .nav-link
{
	color: #fff ;	
	padding-left: 20px;

}
.navbar-dark .navbar-nav .nav-link.active ,
.navbar-dark .navbar-nav .nav-link:hover
{
	color:  #1ebba3;
}

.heading-content
{
	width: 100% ;
	position:  absolute;
	top: 50%;
	transform: translateY(-12px);
	text-align: center;
	color:  white;
	
}
.heading-content h5
{
	font-size: 3em;
	font-weight: 300;
	font-family: monospace;

}

.heading-content h1
{
	font-size: 4em;
	font-weight: bolder;
	font-family: 'Montserrat' sans-serif;

}

.heading-content p
{
	font-size: 1em;
	text-transform: uppercase;
	font-weight: lighter;
	font-family: 'Montserrat' sans-serif;
	letter-spacing: 5px;
	letter-spacing: 2px;

}

#about .btn
{
	border: 2px solid transparent;
	width: 30%;
	padding: 10px 15 px;
	background: #000;
	border-radius: 5 px;
	margin-top:  10px;
}

#about .btn a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none ;
	font-size: 1em;
	font-weight: bold;
}

#about .btn:hover{
	border: 2px solid #1ebba3;
	cursor: pointer;
}

.card{
	margin-bottom: 15px;
}

#service .button
{
	border: 2px solid transparent;
	width: 30%;
	padding: 10px 15 px;
	background: #000;
	border-radius: 5 px;
	margin-top:  10px;
}

#service .button a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none ;
	font-size: 1em;
	font-weight: bold;
}

#service .button:hover{
	border: 2px solid #1ebba3;
	cursor: pointer;
}

.sec1
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: grey ;
}

.sec1 h2
{
	font-family: 'Poppins' , sans-serif;
	font-weight: bold;
	letter-spacing: 3 px;
	line-height: 50px;
	color: white;

}

.sec1 p
{
	font-family: 'Poppins' , sans-serif;
	font-weight: 400;
	color: white;
	

}

.navbar-nav
{
	text-align: center;

}